body {  
    background-color: antiquewhite;
    
}
.sec-color{
    color: rgb(255, 0, 0);
}
.btn{
    background-color: brown;
    border-color:brown ;
}
.input{
    background-color: rgba(0, 0, 255, 0.197);
}
h1{
    color:black;
    text-align: center;
    font-size: 70px;
 }