body {  
    background-color: antiquewhite;
    
}
.sec-color{
    color: rgb(255, 0, 0);
}
.btn{
    background-color: brown;
    border-color:brown ;
}
.input{
    background-color: rgba(0, 0, 255, 0.197);
}
h1{
    color:black;
    text-align: center;
    font-size: 70px;
 }
 h2{
    color:black;
    text-align: center;
    font-size: 50px;
 }
 p{
    color:black;
    text-align: center;
 }
 .box {
    float: left;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid blue;
}