{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2>About this project</h2>
    <p>This website was created as part of CS50 by Timotej Ružička.</p>
    <p>See source code on <a href="https://github.com/TimotejR2/Final_Project">GitHub</a></p>
    <h6>Sources of data:</h6>
    <div>
        <p>Carbon intensity of electricity: <a href="https://ourworldindata.org/grapher/carbon-intensity-electricity">Our World In Data</a></p>
        <p>Electricity prices: <a href="https://ec.europa.eu/eurostat/databrowser/view/nrg_pc_204/default/table?lang=en">Eurostat</a></p>
    </div>
    <h6>Note of Caution:</h6>
    <p>The data regarding CO<sub>2</sub> emissions during the production of light bulbs are solely rough estimates!</p>
    <p>Accuracy of any results cannot be guaranteed.</p>
    <p>This website is for informational purposes only and should not be considered as professional advice for energy-saving decisions.</p>
    <p>If you have any questions or feedback, please feel free to contact us at <a href="mailto:timotej.ruzicka@icloud.com?subject=Energy caucalator">timotej.ruzicka@icloud.com</a>.</p>

{% endblock %}