{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h1>Compare old and new electric device</h1>
    <center>
        
    </center>
    <form method="post" action="/calc"> 
        {% for i in range(2) %}
            <div>
                <br>
                <center>
                    <h2>{% if i == 1 -%} Old device {% endif -%}</h2>
                    {% if i == 0 -%}
                        <div>
                            <input type="number" class="input" name="average"placeholder="Daily average (h)" max="24" min="1">
                            <input type="number"  class="input" name="amount"placeholder="Amount" min="1">
                            <select class="form-select mx-auto w-auto input" name="countryes{{i}}">
                                <option disabled selected>Country</option>
                                {% for country in countries %}
                                    <option class="input" value="{{country}}">{{country}}</option>
                                {% endfor %}
                            </select>




                        </div>
                    {% endif -%}
                    <br>
                    {% if i == 0 -%}
                        <h2>New device</h2>
                    {% endif -%}
                    <input name="price{{i}}" class="input" type="number" placeholder="Price">
                    <input type="number" class="input" name="watts{{i}}" placeholder="watts" min="1">
                    <select class="form-select mx-auto w-auto input" name="type{{i}}">
                        <option disabled selected>Type</option>
                        {% for type in types %}
                            <option class="input" value="{{type}}">{{type}}</option>
                        {% endfor %}
                    </select>
                    </select>

                    {% if i == 0 -%}
                    
                        <h1> vs </h1>
                    {% endif -%}
                </center>
            </div>
            {% endfor %}
    <center>
        <br>
        <button class="btn btn-primary" type="submit">Cauculate</button>
    </center>
    </form>
{% endblock %}