{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h1 style="font-size: 6vw; text-align: center;">Your investment will pay off in {{years}} year{{s}}.</h1>
    <h2 style="font-size: 4vw; text-align: center;">Your new bulb will last {{qf[0]}} and save a total of {{qf[1]}}€.</h2>
    <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <center><canvas id="profit" style="width:100%;max-width:600px"></canvas></center>
        <h2>Every lightbulb will save {{qf[2]}} kg of co2</h2>
        <center><canvas id="co2" style="width:100%;max-width:600px"></canvas></center>
        <h2>New lightbulb will shine {{qf[3]}}</h2>
    
        <script>
            const labels = []
            limit = "{{limit}}"
            limit = parseInt(limit);
            for (let i = 0; i < limit; i++){
                labels.push(i)
            }

            console.log(labels)
            
            val = '{{ values }}'
            val = JSON.parse(val);
            new Chart("profit", {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Your profit in €",
                        data: val,
                        fill: false,
                        borderColor: 'rgb(255, 0, 0)',
                        tension: 0.
                    }]
                },
            });
        </script>
        <script>
            val = '{{ co2 }}'
            val = JSON.parse(val);
            new Chart("co2", {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "CO2 saved (kg)",
                        data: val,
                        fill: false,
                        borderColor: 'rgb(255, 0, 0)',
                        tension: 0.1
                    }]
                },
            });
        </script>
    </div>
    
{% endblock %}